{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}
    <h1 id="lecture-videos-heading">Lectures from the 2017 online sellers congress</h1>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="api-docs-basics">
                <p>
                    These are pre-recorded videos of the lectures that various plentymarkets associates held during the 2017 online sellers congress.
                </p>
                <p>
                    <em>Note: These videos are in German language.</em>
                </p>
            </div>
        </div>
    </div>


    <h2>Webhook & GIT <small>by Garvin Schwarz</small></h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/208657513" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h2>Angular II <small>by Viktor Wiebe</small></h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/208658059" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h2>Twig, Vue & Sass <small>by Felix Dausch & Jan Mense</small></h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/208659468" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h2>Laravel <small>by Christoph Harms-Ensink</small></h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/208667315" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>


{% endblock %}

