<li class="dropdown-header">
	General information
</li>
<li>
	<a href="/dev-doc/overview">Overview</a>
</li>
<li>
	<a href="/dev-doc/basics">Basics</a>
</li>
<li>
	<a href="/dev-doc/plentydrive">plentyDrive</a>
</li>
<li class="dropdown-header">
	Detailed plugin guides
</li>
<li>
	<a href="/dev-doc/template-plugins">Templates</a>
</li>
<li>
	<a href="/dev-doc/template-containers">Template containers</a>
</li>
<li>
	<a href="/dev-doc/theme-plugins">Themes</a>
</li>
<!--li>
	<a href="/dev-doc/backend-plugins">Back end components</a>
</li-->
<li>
	<a href="/dev-doc/payment-plugins">Payment</a>
</li>

{# to do: add content for examples and cookbook in resources/views/content/devguide in examples.twig and cookbook.twig #}

<!-- li>
	<a href="/dev-doc/examples">Examples</a>
</li-->
<li>
	<a href="/dev-doc/cookbook">Cookbook</a>
</li>
<li class="dropdown-header">
	Distribution guide
</li>
<li>
	<a href="https://www.plentymarkets.eu/unternehmen/plentymarketplace-partner-werden/" target="_blank">Become a plentyMarketplace partner</a>
</li>
<li>
	<a href="/marketplace/plugin-requirements">Plugin requirements</a>
</li>
<li>
	<a href="/marketplace/external-tool-requirements">External tool requirements</a>
</li>
<li>
	<a href="/marketplace/services-requirements">Services requirements</a>
</li>
<li>
	<a href="/marketplace/plugin-upload">Plugin upload</a>
</li>
<li class="dropdown-header">
	CodeCamp videos
</li>
<li>
	<a href="/dev-doc/2017-congress-videos">2017 Online Sellers Congress</a>
</li>
