{% extends 'PlentyPluginShowcase::HtmlStructure' %}

{% block BodyStart %}
<body>
<style>
.gsc-result .gs-title {
    height: 1.4em;
}

.gsc-control-cse .gsc-table-result {
    margin-left: 8px;
}
</style>

{% endblock %}

{% block MainFrame %}

<div class="row">
    <div class="container">
      <div class="col-lg-12 col-md-12">
            <gcse:searchresults-only></gcse:searchresults-only>
      </div>
    </div>
</div>

{% endblock %}