<div class="api-docs-basics">
    <table class="table table-striped table-responsive table-bordered table-hover">
        <thead>
        <tr>
            <th>Container key</th>
            <th>Container name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3" style="text-align: center"><b>Template & Scripts</b></td>
        </tr>
        <tr>
            <td>Template.Style</td>
            <td>Style</td>
            <td>Add style to Ceres with a theme plugin</td>
        </tr>
        <tr>
            <td>Template.StyleOverwrite</td>
            <td>Override style</td>
            <td>Override the default CSS file of Ceres</td>
        </tr>
        <tr>
            <td>Script.Loader</td>
            <td>Register/load JS</td>
            <td>Register scripts, events and other JS related items</td>
        </tr>
        <tr>
            <td>Script.AfterScriptsLoaded</td>
            <td>After scripts loaded</td>
            <td>Load scripts, events and other JS related items, e.g. Vue components, after frameworks and scripts have been initialised</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Static pages</b></td>
        </tr>
        <tr>
            <td>StaticPages.CancellationRights</td>
            <td>Cancellation rights</td>
            <td>Add additional content on the cancellation rights page</td>
        </tr>
                <tr>
            <td>StaticPages.LegalDisclosure</td>
            <td>Legal disclosure</td>
            <td>Add additional content on the legal disclosure page</td>
        </tr>
                <tr>
            <td>StaticPages.PrivacyPolicy</td>
            <td>Privacy policy</td>
            <td>Add additional content on the privacy policy page</td>
        </tr>
                <tr>
            <td>StaticPages.TermsAndConditions</td>
            <td>Terms and conditions</td>
            <td>Add additional content on the terms and conditions page</td>
        </tr>
                <tr>
            <td>StaticPages.PageNotFound</td>
            <td>Page not found</td>
            <td>Add additional content on the 404 page</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Homepage</b></td>
        </tr>
        <tr>
            <td>Homepage</td>
            <td>Override homepage</td>
            <td>Override the complete homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container1</td>
            <td>Container 1</td>
            <td>Replace the image slider of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container2</td>
            <td>Container 2</td>
            <td>Replace the upper item preview of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container3</td>
            <td>Container 3</td>
            <td>Replace the lower item preview of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container4</td>
            <td>Container 4</td>
            <td>Replace the first category preview of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container5</td>
            <td>Container 5</td>
            <td>Replace the second category preview of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container6</td>
            <td>Container 6</td>
            <td>Replace the first list of items of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container7</td>
            <td>Container 7</td>
            <td>Replace the third category preview of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container8</td>
            <td>Container 8</td>
            <td>Replace the fourth category preview of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container9</td>
            <td>Container 9</td>
            <td>Replace the second list of items of the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Container10</td>
            <td>Container 10</td>
            <td>Add additional content on the homepage</td>
        </tr>
        <tr>
            <td>Homepage.PaymentMethods</td>
            <td>Payment method container</td>
            <td>Add a logo of the payment method to the payment methods on the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Shipping</td>
            <td>Shipping method container</td>
            <td>Add a logo of the shipping method to the shipping methods on the homepage</td>
        </tr>
        <tr>
            <td>Homepage.Certified</td>
            <td>Certified container</td>
            <td>Add a <b>Certified by</b> logo to the container on the homepage</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Header of the page</b></td>
        </tr>
        <tr>
            <td>Header.LeftSide</td>
            <td>Left header container</td>
            <td>Add content to the container on the left in the header</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Footer of the page</b></td>
        </tr>
        <tr>
            <td>Footer.RowOne</td>
            <td>Row 1 container</td>
            <td>Add content to the first row of the footer</td>
        </tr>
        <tr>
            <td>Footer.RowTwo</td>
            <td>Row 2 container</td>
            <td>Add content to the second row of the footer</td>
        </tr>
        <tr>
            <td>Footer.RowThree</td>
            <td>Row 3 container</td>
            <td>Add content to the third row of the footer</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Single item view</b></td>
        </tr>
        <tr>
            <td>SingleItem.BeforePrice</td>
            <td>Before price</td>
            <td>Add content before the item price in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.AfterPrice</td>
            <td>After price</td>
            <td>Add content after the item price in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.BeforeAddToBasket</td>
            <td>Before <b>Add to shopping cart</b> button</td>
            <td>Add content before the <b>Add to shopping cart</b> button in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.AfterAddToBasket</td>
            <td>After <b>Add to shopping cart</b> button</td>
            <td>Add content after the <b>Add to shopping cart</b> button in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.AdditionalContentAfterAddToBasket</td>
            <td>Additional content after <b>Add to shopping cart</b> button</td>
            <td>Add additional content after the <b>Add to shopping cart</b> button in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.AddDetailTabs</td>
            <td>Add detail tabs</td>
            <td>Add additional tabs to the tab menu in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.AddDetailTabsContent</td>
            <td>Add content to detail tabs</td>
            <td>Add content to the detail tabs in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.ItemListContainer</td>
            <td>Container for item lists</td>
            <td>Add item lists in the single item view</td>
        </tr>
        <tr>
            <td>SingleItem.FeedbackContainer</td>
            <td>Container for customer feedback</td>
            <td>Add item lists in the single item view</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Shopping cart</b></td>
        </tr>
        <tr>
            <td>BasketTotals.BeforeItemSum</td>
            <td>Before <b>Value of items</b></td>
            <td>Add content before the value of items in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>BasketTotals.AfterItemSum</td>
            <td>After <b>Value of items</b></td>
            <td>Add content after the value of items in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>BasketTotals.BeforeShippingCosts</td>
            <td>Before <b>Shipping</b></td>
            <td>Add content before the shipping costs in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>BasketTotals.AfterShippingCosts</td>
            <td>After <b>Shipping</b></td>
            <td>Add content after the shipping costs in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>BasketTotals.BeforeVat</td>
            <td>Before <b>VAT</b></td>
            <td>Add content before the VAT in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>BasketTotals.AfterVat</td>
            <td>After <b>VAT</b></td>
            <td>Add content after the VAT in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>BasketTotals.BeforeTotalSum</td>
            <td>Before <b>Total</b></td>
            <td>Add content before the total sum in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>BasketTotals.AfterTotalSum</td>
            <td>After <b>Total</b></td>
            <td>Add content before the total sum in the Total column of the shopping cart</td>
        </tr>
        <tr>
            <td>Basket.BeforeCoupon</td>
            <td>Before the <b>Coupon</b> input field</td>
            <td>Add content before the <b>Coupon</b> input field in the shopping cart</td>
        </tr>
        <tr>
            <td>Basket.BeforeCheckoutButton</td>
            <td>Before <b>Checkout</b> button</td>
            <td>Add content before the <b>Checkout</b> button in the shopping cart</td>
        </tr>
        <tr>
            <td>Basket.AfterCheckoutButton</td>
            <td>After <b>Checkout</b> button</td>
            <td>Add content after the <b>Checkout</b> button in the shopping cart</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Shopping cart overlay</b></td>
        </tr>
        <tr>
            <td>Basket.ExtendOverlayButtons</td>
            <td>Extend buttons</td>
            <td>Add additional buttons to the shopping cart overlay. Note that the class <code>btn btn-primary</code> is used for rendering the container in the style of the other buttons.</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Shopping cart preview</b></td>
        </tr>
        <tr>
            <td>BasketPreview.BeforeCheckoutButton</td>
            <td>Before <b>Checkout</b> button</td>
            <td>Add content before the <b>Checkout</b> button in the shopping cart preview</td>
        </tr>
        <tr>
            <td>BasketPreview.AfterCheckoutButton</td>
            <td>After <b>Checkout</b> button</td>
            <td>Add content after the <b>Checkout</b> button in the shopping cart preview</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Checkout</b></td>
        </tr>
        <tr>
            <td>Checkout</td>
            <td>Override checkout</td>
            <td>Override the complete checkout page</td>
        </tr>
        <tr>
            <td>Checkout.AddressLists</td>
            <td>Override address controls</td>
            <td>Override the invoice and delivery address controls in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.BillingAddress</td>
            <td>Override invoice address control</td>
            <td>Override the invoice address control in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.BeforeBillingAddress</td>
            <td>Before invoice address</td>
            <td>Add content before the invoice address control in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.AfterBillingAddress</td>
            <td>After invoice address</td>
            <td>Add content after the invoice address control in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.ShippingAddress</td>
            <td>Override shipping address control</td>
            <td>Override the shipping address control in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.BeforeShippingAddress</td>
            <td>Before shipping address</td>
            <td>Add content before the shipping address control in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.AfterShippingAddress</td>
            <td>After shipping address</td>
            <td>Add content after the shipping address control in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.ShippingProfileList</td>
            <td>Override shipping method</td>
            <td>Override the list of shipping methods in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.BeforeShippingProfileList</td>
            <td>Before shipping method</td>
            <td>Add content before the list of shipping methods in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.AfterShippingProfileList</td>
            <td>After shipping method</td>
            <td>Add content after the list of shipping methods in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.PaymentList</td>
            <td>Override payment method</td>
            <td>Override the list of payment methods in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.BeforePaymentList</td>
            <td>Before payment method</td>
            <td>Add content before the list of payment methods in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.AfterPaymentList</td>
            <td>After payment method</td>
            <td>Add content after the list of payment methods in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.OptIns</td>
            <td>Opt-ins</td>
            <td>Add content to opt-in checkboxes in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.BeforeBasketTotals</td>
            <td>Before basket totals</td>
            <td>Add content before the basket totals in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.AfterBasketTotals</td>
            <td>After basket totals</td>
            <td>Add content after the basket totals in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.PlaceOrder</td>
            <td>Override <b>Order now</b> button</td>
            <td>Override the <b>Order now</b> button in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.BeforePlaceOrder</td>
            <td>Before <b>Order now</b> button</td>
            <td>Add content before the <b>Order now</b> button in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.AfterPlaceOrder</td>
            <td>After <b>Order now</b> button</td>
            <td>Add content after the <b>Order now</b> button in the checkout</td>
        </tr>
        <tr>
            <td>Checkout.CustomAddressField</td>
            <td>Address field container</td>
            <td>Add content, e.g. one or multiple custom address fields, at the bottom of the address form</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Order confirmation page</b></td>
        </tr>
        <tr>
            <td>OrderConfirmation.Override</td>
            <td>Override order confirmation</td>
            <td>Override the complete order confirmation page</td>
        </tr>
        <tr>
            <td>OrderConfirmation.BeforeOrderDetails</td>
            <td>Before order details</td>
            <td>Add content before the order details on the order confirmation page</td>
        </tr>
        <tr>
            <td>OrderConfirmation.AdditionalPaymentInformation</td>
            <td>Additional payment information</td>
            <td>Add additional payment information on the order confirmation page</td>
        </tr>
        <tr>
            <td>OrderConfirmation.GrossNetReplace</td>
            <td>Override gross/net prices</td>
            <td>Override the gross/net prices on the order confirmation page</td>
        </tr>
        <tr>
            <td>OrderConfirmation.AfterTotals</td>
            <td>Add content after totals</td>
            <td>Add content after totals on the order confirmation page</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>My account page</b></td>
        </tr>
        <tr>
            <td>MyAccount.OrderHistoryPaymentInformation</td>
            <td>Additional payment information</td>
            <td>Add additional payment information after the order information on the My account page</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Category item list</b></td>
        </tr>
        <tr>
            <td>CategoryItem.BeforePrices</td>
            <td>Before prices container</td>
            <td>Add content before the prices in the category item view</td>
        </tr>
        <tr>
            <td>CategoryItem.AfterPrices</td>
            <td>After prices container</td>
            <td>Add content after the prices in the category item view</td>
        </tr>
        <tr>
            <td>CategoryItem.SideNavBarBottom</td>
            <td>Container below side navigation</td>
            <td>Add content below the side navigation bar in the category item view</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Login</b></td>
        </tr>
        <tr>
            <td>Login.AdditionalContentAfterButtons</td>
            <td>Container below the buttons</td>
            <td>Add content below the buttons in the login view. Note that the class <code>btn btn-primary</code> is used for rendering the container in the style of the other buttons.</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Login overlay</b></td>
        </tr>
        <tr>
            <td>LoginOverlay.ExtendOverlayButtons</td>
            <td>Container in a row with the buttons</td>
            <td>Add content in the login overlay. Note that the class <code>btn btn-primary</code> is used for rendering the container in the style of the other buttons.</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><b>Registration overlay</b></td>
        </tr>
        <tr>
            <td>RegistrationOverlay.ExtendOverlayButtons</td>
            <td>Container in a row with the buttons</td>
            <td>Add content in the registration overlay. Note that the class <code>btn btn-primary</code> is used for rendering the container in the style of the other buttons.</td>
        </tr>
        </tbody>
    </table>
</div>